<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:400,700|Staatliches&display=swap', rel='stylesheet')    
        script(src='https://kit.fontawesome.com/3c8601f512.js', crossorigin='anonymous')            
        link(rel="stylesheet", href="/css/style.css")
        title #{titulo} | #{pagina}
    body(class=clase)
        include includes/header
        block slider
        block contenido
        include includes/footer
