extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Vivamus sed odio orci. Phasellus auctor leo quis dolor euismod posuere. Vestibulum vel eros commodo, finibus tortor id, malesuada elit. Etiam euismod commodo convallis. Donec rhoncus, diam sit amet congue suscipit, lacus massa tristique augue, id luctus justo ante a nunc. Morbi feugiat, nisl in bibendum euismod, massa eros imperdiet nunc, non lacinia lorem diam sit amet dui.
                p Praesent consectetur egestas velit, vel consectetur neque posuere a. Cras luctus posuere vehicula. Nulla eget ultricies metus, sollicitudin tristique ex. Ut id rutrum nisi. Nullam porta vel ipsum malesuada porttitor. Aliquam non nibh et sapien dictum vulputate quis gravida neque. Aliquam commodo nisi quis elit feugiat pretium.
                p Vivamus pellentesque cursus est, vel placerat purus molestie vel. Donec tincidunt lacus vitae mauris placerat vulputate. Sed nec nibh pretium, sagittis augue vitae, tincidunt justo. Donec interdum ultricies nulla non commodo.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla scelerisque nisl nec tellus ultricies ullamcorper. Etiam nec dolor eu lectus gravida porttitor. Sed eleifend finibus mi ut dignissim.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla scelerisque nisl nec tellus ultricies ullamcorper. Etiam nec dolor eu lectus gravida porttitor. Sed eleifend finibus mi ut dignissim.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Nulla scelerisque nisl nec tellus ultricies ullamcorper. Etiam nec dolor eu lectus gravida porttitor. Sed eleifend finibus mi ut dignissim.                                        